body, html{
	background-color:#f0f1e9;
	margin:0px 0px;
	font-size:12px;
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Lato", sans-serif;
}
/* BOOTSTRAP OVERRIDES */
.navbar-default{
	/*background-color:rgba(16,18,14, 0.8);*/
	background-color:#f0f1e9;
	/*background-color: white;*/
	margin:0px 0px;
	/*position:fixed;*/
	border:0px solid black;
	width:80%;
	top:25px;
	margin: 0px auto;
}
div.navbarChanges{
	padding:0px 0px;
}
.nav>li>a.contactButton {
	padding-right: 0px;
}
 /*END OF BOOTSTRAP OVERRIDES*/

section.content-module{
	/*margin: 30px 30px;*/
	/*padding:30px 30px;*/
}
.logo{
	width:250px;
	position:absolute;
	top:-10px;
}
section.header-content{
	background-image: url("../img/yoga-valley.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 80%;
	height: 320px;
	margin: 0px auto;
	margin-top: 45px;
}
section.header-products {
	background-image: url("../img/mall2.jpg");
	background-size: cover;
	background-position: bottom;
}
section.header-contact {
	background-image: none;
}
#map-canvas {
	/*width:500px;*/
	height:300px;
	border: 3px solid white;
}
.navItem{
	font-size: 1.5em;
	font-family: 'Lato';
	font-weight: 500;
}
.body-content{
	font-size:1.5em;
	/*width:80%;*/
	padding:0px 0px;
}
.contentContainer{
	/*width:80%;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
.quoteText {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	/*margin: 15px 0px;*/
	margin-top: 50px;
	padding: 0px 100px;
}
.quoteByLine {
	text-align: right;
	margin: 0px 0px;
}
.textBox1, .textBox{
	margin:20px 0px;
	padding:10px 15px;
	font-size: 0.9em;
	line-height: 1.8em;
	font-weight:300;
}
.textBox{
	margin-top: 65px;
}
.contact-details {
	margin: 50px 0px;
	padding: 0px 20px;
	border-left: 2px solid grey;
}
h4 {
	margin-top: 90px;
	padding:0px 15px;
}
.footer-module{
	margin-top: 90px;
	margin-bottom: 50px;
}
.footer-text{
	text-align: center;
	font-size: 1em;
	font-weight:300;
	/*height: 1000px;*/
}

/* Test Code*/
.footerTest{
	height:600px;
}
.testTextBox{
	margin:50px 0px;
}